:root {
    --blue-highlight:dodgerblue;
    --page-content-h2:dimgrey;
    --blue-highlight-transparent: rgba(30, 143, 255, 0.438);

}

nav {
    background-color:rgb(49,52,61);
    display:flex;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    height:10vh;
    
}
.nav-title{
    border-radius:0 0 15px 0;
    background-color:var(--blue-highlight);
    height:65%;
    padding-inline:20px;
    padding-top:25px;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow:3px 5px 14px rgba(30, 203, 255,0.7);
    color:white;
}
.nav-title b{
    font-size:larger;
    font-weight:bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav-link-container {
    padding:10px 20px;
    position:absolute;
    right:3vw;
 
    
}
.nav-link-container a {
    padding-inline:10px;
    position:relative;
    top:20px;
    color:var(--blue-highlight);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:none;
    font-size:x-large;
    border-bottom: solid 3px var(--blue-highlight);
}

.nav-link-container a:hover{
    background-color:var(--blue-highlight);
    color:white;
    border-radius:15px;
}

.nav-link-container a:focus{
    background-color:darkblue;
    border-radius:15px;
    color:white;
}

.page-content{
    display:flex;
    flex-direction:column;
    width:100vw;
    flex: 1;
}
.page-content-item{
    margin:10vh 0;
}
.page-content .left-label{
    margin-top:10vh;
    height:90vh;
    width:20vw;
    text-align:right;

}
.page-content .left-label h2{
    font-size:xx-large;
    color:var(--page-content-h2);
    text-decoration:underline;
    border-right:solid 5px var(--page-content-h2);
    padding-right:20px;
    padding-bottom:40px;
}

.page-content .right-content{
    position:absolute;
    top:10vh;
    margin-top:35vh;
    height:fit-content;
    width:70vw;
    left:22vw;
    font-family:Arial, Helvetica, sans-serif;

}
.banner{
    background-image:url("../images/banner.png");
    height: 25vh;
    width:100vw;
    position:relative;
    top:10vh;
}
.banner h2 {
    background-color:var(--blue-highlight-transparent);
    color:white;
    width:fit-content;
    padding:5px 10px;
    position:absolute;
    right:6vw;
    bottom:6vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size:xx-large;
    border-radius:20px;
}