:root {
    --blue-highlight:dodgerblue;
    --page-content-h2:dimgrey;
    --blue-highlight-transparent: rgba(30, 143, 255, 0.438);
    --blue-highlight-transparent-light: rgba(30,143,255,0.75);
}

nav {
    background-color:rgb(49,52,61);
    display:flex;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    height:10vh;
    
}
@media screen and (max-width:800px){
    nav{
        flex-direction:column;
        height:25vh;

    }
    footer {
        margin-top:10vh;
    position:relative;
    bottom:0;
    background-color: var(--blue-highlight-transparent-light);
    width:100%;
    height:10vh;
    text-align:center;
    padding-top:20px;
    font-size:xx-large;
    color:white;
    }
}
    
footer {
    margin-top:10vh;
    position:relative;
    bottom:0;
    background-color: var(--blue-highlight-transparent-light);
    width:100%;
    height:10vh;
    text-align:center;
    padding-top:20px;
    font-size:xx-large;
    color:white;
}

.nav-title{
    border-radius:0 0 15px 0;
    background-color:var(--blue-highlight);
    height:65%;
    padding-inline:20px;
    padding-top:25px;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow:3px 5px 14px rgba(30, 203, 255,0.7);
    color:white;
}
.nav-title b{
    font-size:larger;
    font-weight:bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav-link-container {
    padding:10px 20px;
    position:absolute;
    right:3vw;
 
    
}
.nav-link-container a {
    padding-inline:10px;
    position:relative;
    top:20px;
    color:var(--blue-highlight);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:none;
    font-size:x-large;
    border-bottom: solid 3px var(--blue-highlight);
}

.nav-link-container a:hover{
    background-color:var(--blue-highlight);
    color:white;
    border-radius:15px;
}

.nav-link-container a:focus{
    background-color:darkblue;
    border-radius:15px;
    color:white;
}
@media screen and (max-width:800px){
    .nav-title{
        height:8vh;
        text-align:center;
    }
    .nav-link-container{
        display:flex;
        flex-direction:column;
        text-align:center;
        right:25vw;
        margin-top:6vh;
    }
}

.page-content{
    margin-top:10vh;
    display:flex;
    flex-direction:column;
    width:100vw;
    flex: 1;
    flex-wrap:nowrap;
}
.page-content-item{
    display:flex;
    flex-direction:row;
    width:100vw;
}
.page-content .left-label{
    margin-top:10vh;
    height:fit-content;
    width:20vw;
    text-align:right;

}
.page-content .left-label h2{
    font-size:xx-large;
    color:var(--page-content-h2);
    text-decoration:underline;
    padding-right:10px;
    padding-bottom:40px;
}

.page-content .right-content{
    position:relative;
    top:10vh;
    height:fit-content;
    width:70vw;
    left:3vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size:larger;
    border-left:solid 5px var(--page-content-h2);
    padding-left:10px;
    display: flex;
    flex-wrap: wrap;
    text-decoration:none;
}

@media screen and (max-width:800px){
    .page-content{
        margin-top:26vh;
        text-align:center;
    }
    .page-content-item{
        width:100%;
        margin-left:0;
        flex-direction:column;
        align-items:center;
    }
    .page-content .right-content{
        padding-bottom:30px;
        border-left:0;
        width:85vw;
    }

    
}


.banner{
    background-image:url("../images/banner.png");
    height: 25vh;
    width:100vw;
    position:relative;
    top:10vh;
}
.banner img{
    margin-left:5vw;
    max-width:200px
}
.banner h2 {
    background-color:var(--blue-highlight-transparent);
    color:white;
    width:fit-content;
    padding:5px 10px;
    position:absolute;
    right:6vw;
    bottom:6vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size:xx-large;
    border-radius:20px;
}
@media screen and (max-width:800px){
    .banner{
        display:none;
    }    
}

.content-image{
    width:600px;
    margin:15px;
    height:300px;
}
.portfolio-item p{
    display:none;
}
.portfolio-item::hover p{
    display:block;
}
.work-title{
    z-index:100;
    padding:10px;
    padding-left:15px;
    left:0;
    background-color:aqua;
    text-decoration:none;
    width:fit-content;
    font-size:larger;
    border-radius:0 0 15px 0;
}
.work-title i{
    text-decoration:none;
    font-size:medium;
}
#dpssite{
    background-image:url(../images/dpswebscreen.PNG);
    overflow:hidden;
    width:600px;
    margin:15px;
    height:300px;
}
#dpssite span{
    display:none;
}
#dpssite:hover span{
    padding:50px;
    font-size:larger;
    font-weight:bold;
    color:white;
    height:100%;
    width:100%;
    background:var(--blue-highlight-transparent-light);

    display:block;
}
#portfoliosite{
    background-image:url(../images/portfolioscreen.png);
    overflow:hidden;
    width:400px;
    margin:15px;
    height:300px;
}
#portfoliosite span {
    display:none;
}
#portfoliosite:hover span{
    padding:50px;
    font-size:larger;
    font-weight:bold;
    color:white;
    height:100%;
    width:100%;
    background:var(--blue-highlight-transparent-light);
    display:block;
}
@media screen and (max-width:800px){
    #dpssite{
        width:75vw;
        background-position:center;
        height:25vh;
    }
    #portfoliosite{
        width:75vw;
        background-position:center;
        height:25vh;
    }
}
.contact-links{
    display:flex;
    flex-wrap:wrap;
    flex:1 0;
    padding-inline:5vw;
    font-weight:bold;
    font-size:larger;
    margin-top:5vh;
    margin-bottom:5vh;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--blue-highlight);
}
@media screen and (max-width:800px){
    .contact-links{
        margin:1vh 1vh;
    }
}